:root {
    --mcb: rgb(35,74,149);
    --bl: rgb(0,0,0);
}

/* Background animation */
/* #e73c73, */
body {
   /* background: linear-gradient(-45deg, #007de3,#989898); */
    background-color: #989898;
    /*background-size: 400% 400%;*/
    /*animation: gradient 6s ease infinite;*/
    font-size: 28px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    z-index:-2;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Navbar menu */
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--mcb);
    /*background-color: rgb(12, 86, 170);*/
    left: 0;
    right: 0;
}

.navbar a {
   float: left;
    display: block;
    color: rgb(255,255,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px; 
    z-index: 10;
}

.zt1 {
    text-align: center;
}

/*
.navbar a:hover {
    color: rgb(250,250,250);
    background-image: linear-gradient(transparent calc(100% - 2px),#FFFFFF 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: absolute;
    background-repeat: no-repeat;
    transition: all .2s;
}
*/

.navbar a:hover {
    color: var(--mcb);
    background-color: rgb(250,250,250);
}

.link {
    color: rgb(250,250,250);
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bs {
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.397);
}

/* Massage Therapy Settings */
.mt-title-display {
    background-color: var(--mcb);
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.mt-img {
    width: 85%;
    border-radius: 5px;
    display: block;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mt-hr {
    width: 75%;
}

.mt-button {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    text-align: center;
    width: 50%;
}

iframe {
    border-radius: 5px;
}

/* Facebook button settings */
.fa {
    padding: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: var(--mcb);
}

.headings {
    text-align: center;
    color: rgb(250,250,250);
    font-size: 30px;
    display: block;
    background-color: var(--mcb);
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
}

.r1 {
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 5px;
    height: auto;
    display: block;
}

.r1-fb {
    z-index: 5;
    display: block;
    text-align: center;
    font-size: 30px;
}

.centered-d {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    }
    
    .containers {
    width:100px;
    height:100px;
    }

.h {
    text-align: center;
    color: rgb(250,250,250);
    font-size: 30px;
    z-index: 6;
    padding: 3px 3px 3px 3px;
}

.h-fl {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 20px;
    z-index: 6;
    padding: 3px 3px 3px 3px;
}

.h-fl-b {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 30px;
    z-index: 6;
    padding: 3px 3px 3px 3px;
}

.ts-mc {
    /* text-shadow: 1.25px 1.25px var(--mcb); */
    text-shadow: 1.25px 1.25px var(--bl);
}

.ts-mbl {
    text-shadow: 1.25px 1.25px var(--bl);
}

/*p {
    text-align: center;
    color: rgb(0,0,0);
    font-size: 22px;
    padding: 2px 2px 2px 2px;
    z-index: 6;
}*/

.abp {
    float: right;
    height: auto;
    margin-top: 0;
    right: 0;
}

.cv {
    float: left;
    height: auto;
}

.cl {
    border-radius: 50%;
    float: left;
    width: 33.3%;
    height: 15px;
    background-color: rgb(51, 153, 73);
    z-index: 6;
}

.fb {
    color: rgb(255,255,255);
}

.gm {
    text-align: center;
    width: 100%;
    height: 100%;
}

.dc {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.dcf {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.fbe {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    box-shadow: 12px 7px 7px rgb(82, 81, 81);
    width:100%;
    border: none;
    height:100%;
}

.ts {
    text-shadow: 2px 2px rgb(82, 81, 81);
}

.cr {
    color: rgb(255,255,255);
    text-align: center;
    font-size: 18px;
}

.cr-t {
    color: rgb(255,255,255);
    text-align: center;
    font-size: 25px;
}