:root {
    --mcb: rgb(35,74,149);
    --mcw: rgb(255,255,255);
}

.wc {
    color: var(--mcw);
}

.container-o {
    position: relative;
    text-align: center;
    color: rgb(0,0,0);
}

.bottom-o {
    position: absolute;
    bottom: 8px;
}

.top-o {
    position: absolute;
    top:8px;
}

.imgs-o {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.35;
}

/*.imgs-o:hover {
    opacity: 1;
}
*/
.centered-o {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bl-o {
    border: 2px solid var(--mcb);
}


/*Responsive About content */
@media screen and (max-width: 300px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 14px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (max-width: 400px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 17px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (max-width: 500px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 20px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (max-width: 600px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 23px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (max-width: 700px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 26px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (max-width: 800px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 29px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (max-width: 900px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 32px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (max-width: 1000px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 35px;
        padding: 2px 2px 2px 2px;
    }
}



/*Responsive About Header */
@media screen and (max-width: 400px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 20px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About Header */
@media screen and (max-width: 500px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 23px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (max-width: 600px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 26px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (max-width: 700px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 29px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (max-width: 800px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 32px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (max-width: 900px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 35px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About Header */
@media screen and (max-width: 1000px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 38px;
        padding: 2px 2px 2px 2px;
    }
}

.ss-image-zg {
    max-height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ss-h {
    height: 50%;
}
