.container-o {
    position: relative;
    text-align: center;
    color: rgb(255,255,255);
}

.bottom-o {
    position: absolute;
    bottom: 8px;
}

.top-o {
    position: absolute;
    top:8px;
}

.imgs-o {
    margin-left: auto;
    margin-right: auto;
    display: block;
}