body {
    background: linear-gradient(-45deg, #B0FF92, #D6FF79, #A09BE7, #5F00BA);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    z-index:-2;  
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* Navbar menu */
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(12, 86, 170);
    left: 0;
    right: 0;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(250,250,250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
    z-index: 10;
}

.navbar a:hover {
    color: rgb(12, 86, 170);
    background-color: rgb(250,250,250);
}

.title {
    font-family: 'Architects Daughter', cursive;
    font-size: 115px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    display: block;
    height: auto;
    position: relative;
    font-weight: bold;
    /* text-shadow: 3px 3px rgb(82, 81, 81); */
}

.zt1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;   
    font-size: 105px;
    color: rgb(0, 0, 0);
}

.r1 {
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
}

.zh2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    /* text-shadow: 3px 3px rgb(82, 81, 81); */
}

.zh3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    /*text-shadow: 3px 3px rgb(82, 81, 81);*/
}

.ns-c {
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    /*text-shadow: 3px 3px rgb(82, 81, 81);*/
}

.w3-content,.w3-auto {
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;

}

.w3-content {
    max-width:980px;
    overflow: hidden;
}

.w3-animate-right {
    position:relative;
    animation:animateright 0.4s;
}

@keyframes animateright {
    from {
        right:-300px;
        opacity:0
    } to {
        right:0;
        opacity:1;
    }
}

.mySlides {
    display:none;
    overflow: hidden;
}

.w3-section,.w3-code {
    margin-top:16px!important;
    margin-bottom:16px!important;
}

.ss {
    max-width: 750px;
}

.ss-image {
    width: 100%;
}
