/* Background animation */
/* #e73c73, */
body {
    /* background: linear-gradient(-45deg, #007de3,#989898); */
     background-color: #989898;
     /*background-size: 400% 400%;*/
     /*animation: gradient 6s ease infinite;*/
     font-size: 28px;
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     z-index:-2;
 }

/*body {
    background: linear-gradient(-45deg, #B0FF92, #D6FF79, #A09BE7, #5F00BA);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    z-index:-2;  
}
*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* Navbar menu */
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(12, 86, 170);
    left: 0;
    right: 0;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(250,250,250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px; 
    z-index: 10;
}

.navbar a:hover {
    color: rgb(12, 86, 170);
    background-color: rgb(250,250,250);
}

.title {
    font-size: 115px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    display: block;
    height: auto;
    position: relative;
    font-weight: bold;
    /* text-shadow: 3px 3px rgb(82, 81, 81); */
}

.zt1 {
    text-align: center;  
    font-size: 55px;
    color: rgb(0, 0, 0);
}

.r1 {
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.zh2 {
    font-size: 37px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: block;
    /* text-shadow: 3px 3px rgb(82, 81, 81); */
}

.zh3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    /*text-shadow: 3px 3px rgb(82, 81, 81);*/
}

.zl-1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.ts-z {
    text-shadow: 1.25px 1.25px rgb(207, 228, 88);
}

.ts-zg {
    text-shadow: 1.25px 1.25px rgb(253, 163, 29);
}

.ts-p {
    text-shadow: 1.25px 1.25px rgb(255,255,255);
}

.ts-bar {
    text-shadow: 1.25px 1.25px rgb(252, 84, 229);
}

.ts-yf {
    text-shadow: 1.25px 1.25px rgb(247, 52, 111);
}

.ts-yog {
    /*text-shadow: 1.25px 1.25px rgb(3, 178, 111);*/
    text-shadow: 1.25px 1.25px rgb(31, 220, 253);
}

.yog-bc {
    /* background-color: rgb(244, 196, 51); */ 
    background-color:  rgb(255, 153, 51);
}

.ts-yog-logo {
    /* text-shadow: 1.55px 1.55px rgb(255, 153, 51); */
    text-shadow: 1.55px 1.55px rgb(244, 196, 51);
}

.ts-bb {
    text-shadow: 1.25px 1.25px rgb(173, 6, 151);
}

.bb-ew {
    text-align: center;
    right: 0;
}

.d-fr {
    float: right;
    right: 0;
}

.w3-content,.w3-auto {
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;

}

.w3-content {
    max-width:980px;
    overflow: hidden;
}

.w3-animate-right {
    position:relative;
    animation:animateright 0.4s;
}

@keyframes animateright {
    from {
        right:-300px;
        opacity:0
    } to {
        right:0;
        opacity:1;
    }
}

.mySlides {
    display:none;
    overflow: hidden;
}

.w3-section,.w3-code {
    margin-top:16px!important;
    margin-bottom:16px!important;
}

.ss {
    max-width: 750px;
}

.ss-image {
    width: 100%;
}
