/* Background animation */
/* #e73c73, */
body {
    background: linear-gradient(-45deg, #fcf802, #f77205,#23d532);
    /*background-size: 400% 400%;*/
    /*animation: gradient 6s ease infinite;*/
    font-size: 28px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    z-index:-2;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Navbar menu */
.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(12, 86, 170);
    left: 0;
    right: 0;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(250,250,250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
    z-index: 10;
}

/*
.navbar a:hover {
    color: rgb(250,250,250);
    background-image: linear-gradient(transparent calc(100% - 2px),#FFFFFF 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: absolute;
    background-repeat: no-repeat;
    transition: all .2s;
}
*/

.navbar a:hover {
    color: rgb(12, 86, 170);
    background-color: rgb(250,250,250);
}

.link {
    color: rgb(250,250,250);
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.headings {
    text-align: center;
    color: rgb(250,250,250);
    font-size: 80%;
    display: block;
    background-color: rgb(12, 86, 170);
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
}

.r1 {
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
}

.h {
    text-align: center;
    color: rgb(250,250,250);
    font-size: 50px;
    z-index: 6;
    padding: 3px 3px 3px 3px;
}

.h-fl {
    text-align: center;
    color: rgb(250,250,250);
    font-size: 35px;
    z-index: 6;
    padding: 3px 3px 3px 3px;
}

p {
    text-align: center;
    color: rgb(250,250,250);
    font-size: 40px;
    padding: 3px 3px 3px 3px;
    z-index: 6;
}

.abp {
    float: right;
    height: auto;
    margin-top: 0;
    right: 0;
}

.cv {
    float: left;
    height: auto;
}

.cl {
    border-radius: 50%;
    float: left;
    width: 33.3%;
    height: 15px;
    background-color: rgb(51, 153, 73);
    z-index: 6;
}

.fb {
    color: rgb(255,255,255);
}

.gm {
    text-align: center;
    width: 100%;
    height: 100%;
}

.dc {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.dcf {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.fbe {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    box-shadow: 12px 7px 7px rgb(82, 81, 81);
    width:100%;
    border: none;
    height:100%;
}

.ts {
    text-shadow: 3px 3px rgb(82, 81, 81);
}