:root {
    --mcb: rgb(35,74,149);
}

.accordion-faq {
    background-color: var(--mcb);
    color: rgb(255,255,255);
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border-radius: 5px;
    display: block;
}

.active-faq, .accordion-faq:hover {
    background-color: rgb(255,255,255);
    color: var(--mcb);
}

.accordion-faq:after {
    content: '\002B';
    color: rgb(255,255,255);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-faq:after {
    content: "\2212";
}

.panel-faq {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-hieght 0.2s ease-out;
}