.w3-animate-bottom {
    position:relative;
    animation:animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom:-300px;opacity:0
    } 
    to {
        bottom:0;opacity:1
    }
}

.w3-animate-right {
    position:relative;
    animation:animateright 0.4s
}

@keyframes animateright
{
    from {
        right:-300px;
        opacity:0
    } 
    to {
        right:0;
        opacity:1
    }
}

.w3-animate-left {
    position:relative;
    animation:animateleft 0.4s
}

@keyframes animateleft {
    from {
        left:-300px;
        opacity:0
    } 
    to {
        left:0;
        opacity:1
    }
}