:root {
    /*OLD EBF Main Blue logo color*/
  /*  --mcb: #234a95; */
    --mcb: rgb(4,4,4);
    --bl: rgb(0,0,0);
    --mainGrey: #989898;
    --studioYellow: #f5da35;
    --bsb: rgba(0, 0, 0, 0.397);
    --White:rgb(255,255,255);
    --blissfulGlowPink: #dabcbd;
    --blissfulGlowMaroon: #734244;
    --blissfulGlowTeal: #b2e4df;
    --blissfulGlowGrey: #758383;
    --EBFGrey: #989898;
    --EBFOrange: #f5764b;
    --EBFGreen: #06ae59;

    
}

/* Make scroll behavior smooth */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background-color: var(--EBFGrey);
}

a {
    cursor: pointer;
}

#ZSS {
    text-align: center;
    margin: 0 auto;
    height: auto;
}


/* Fixed Menu Settings */
.navbar {
    overflow: hidden;
    /*background-color: var(--NewGWBlue);*/
    background-color: var(--mcb);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    text-align: center;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 700px) {
        @media screen and (min-height: 1px) {
            @media screen and (max-height: 400px) {
                .navbar {
                    max-height: 17.5%;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    @media screen and (max-width: 1000px) {
        @media screen and (min-height: 400px) {
            @media screen and (max-height: 1000px) {
                .navbar {
                    max-height: 15.5%;
                }
            }
        }
    }
}

.ocm-center {
    text-align: center;
    display: block;
    height: 100px;
}


/* Services Menu Settings */
.overlay-cm-services {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 21;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-cm-services-content {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.overlay-cm-services a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-cm-services a:hover, .overlay-cm-services a :focus {
    color: #f1f1f1;
}

.overlay-cm-services .closebtn-services {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay-cm-services {
        overflow-y: auto;
    }
    .overlay-cm-services a {
        font-size: 20px;
    }
    .overlay-cm-services .closebtn-services {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* New title settings */
.new-title {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.new-title h1, h2 {
    color: var(--White);
    /*text-shadow: 2px 2px 2px var(--mcb);*/
    text-align: center;
    font-weight: bold;
}

.new-title p {
    color: var(--White);
    /*text-shadow: 2px 2px 2px var(--mcb);*/
    text-align: center;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 600px) {
        .new-title h1 {
            font-size: 35px;
        }

        .new-title h2 {
            font-size: 28px;
        }

        .new-title p {
            font-size: 20px
        }
        
    }
    
}

@media screen and (min-width: 601px) {
    @media screen and (max-width: 800px) {
        .new-title h1 {
            font-size: 40px;
        }

        .new-title h2 {
            font-size: 32px;
        }

        .new-title p {
            font-size: 23px
        }
        
    }
    
}

@media screen and (min-width: 801px) {
    @media screen and (max-width: 1000px) {
        .new-title h1 {
            font-size: 45px;
        }

        .new-title h2 {
            font-size: 36px;
        }

        .new-title p {
            font-size: 26px
        }
        
    }
    
}

@media screen and (min-width: 1001px) {
    @media screen and (max-width: 1200px) {
        .new-title h1 {
            font-size: 50px;
        }

        .new-title h2 {
            font-size: 40px;
        }

        .new-title p {
            font-size: 29px
        }
        
    }
    
}

@media screen and (min-width: 1201px) {
    @media screen and (max-width: 1400px) {
        .new-title h1 {
            font-size: 55px;
        }

        .new-title h2 {
            font-size: 44px;
        }

        .new-title p {
            font-size: 32px
        }
        
    }
    
}

@media screen and (min-width: 1401px) {
    @media screen and (max-width: 1600px) {
        .new-title h1 {
            font-size: 60px;
        }

        .new-title h2 {
            font-size: 48px;
        }

        .new-title p {
            font-size: 35px
        }
        
    }
    
}

@media screen and (min-width: 1601px) {
    @media screen and (max-width: 1800px) {
        .new-title h1 {
            font-size: 65px;
        }

        .new-title h2 {
            font-size: 52px;
        }

        .new-title p {
            font-size: 38px
        }
        
    }
    
}

@media screen and (min-width: 1801px) {
    @media screen and (max-width: 2000px) {
        .new-title h1 {
            font-size: 70px;
        }

        .new-title h2 {
            font-size: 56px;
        }

        .new-title p {
            font-size: 41px
        }
        
    }
    
}

@media screen and (min-width: 2001px) {
    .new-title h1 {
        font-size: 75px;
    }

    .new-title h2 {
        font-size: 60px;
    }

    .new-title p {
        font-size: 44px
    }
}




/* Logo display settings */
.logo {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bs {
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.397);
}

.btn-ocm {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;    
}

.com {
    border-color: var(--mcb);
    /* color: rgb(255,255,255); */
    color: var(--mcb);
    /* background-color: var(--mcb); */
    background-color: rgb(255, 255, 255);
}

.com:hover {
    /* background-color: rgb(255,255,255); */
    background-color: var(--mcb);
    /* color: var(--mcb); */
    color: rgb(255, 255, 255);
    border-color: var(--mcb);
}

.btnc {
    background-color: rgb(83,98,184);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}


/* Bottom Navbar */
.navbar-bottom {
    overflow: hidden;
    background-color: none;
    /*bottom: 0;
    left: 0;
    width: 100%; */
    z-index: 2;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    /*padding: 5px;*/
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .navbar-bottom {
            display: block;
        }
        .bottom-navbar-items {
            display: block;
        }
        .bottom-navbar-items-fb {
            display: block;
        }
        .bottom-navbar-items-fb-p {
            display: block;
        }
    }
}

@media screen and (min-width: 769px) {
    .navbar-bottom {
        display: inline-block;
    }
    .bottom-navbar-items {
        display: inline-block;
    }
    .bottom-navbar-items-fb {
        display: inline-block;
    }

    .bottom-navbar-items-fb-p {
        display: inline-block;
    }
}

.fa-brands {
    margin: 0 auto;
    text-align: center;
}

.bottom-navbar-items-fb {
    margin: 0 auto;
    text-align: center;
    color: var(--mcb);
   /* text-shadow: 1px 1px var(--Black);*/
    /*padding: 0 20px;*/
    text-decoration: none;
    font-size: 30px;
    background-size: 0% 100%;
    /*box-shadow: var(--bsb);*/
    vertical-align: bottom;
    /*font-variant: small-caps;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
}

.bottom-navbar-items-fb:hover {
    background-color: none;
    background-image: linear-gradient(transparent calc(100% - 2px), var(--mcb) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .25s;
    font-size: 33px;
}

/*
.bottom-navbar-items-fb-p:hover {
    background-color: none;
    background-image: linear-gradient(transparent calc(100% - 2px), var(--mcb) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .25s;
    font-size: 33px;
}
*/

.bottom-navbar-items-fb span {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;    
   /* font-variant: small-caps; */
    font-weight: bold;
}

.bottom-navbar-items-fb-p {
    margin: 0 auto;
    text-align: center;
    color: var(--White);
    text-shadow: 2px 2px 2px var(--mcb);
   /* text-shadow: 1px 1px var(--Black);*/
    /*padding: 0 20px;*/
    text-decoration: none;
    font-size: 30px;
    background-size: 0% 100%;
    /*box-shadow: var(--bsb);*/
    vertical-align: bottom;
    /*font-variant: small-caps;*/
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
}

.r1 {
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 5px;
    height: auto;
    display: block;
}

/* What we believe accordion settings */
.acc-box {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.accordion {
    background-color: var(--mcb);
    color: var(--White);
    cursor: pointer;
    padding: 28px;
    width: 91%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
    font-weight: bold;
    border-bottom:3px solid var(--MeteorJSPurple);
    font-weight: bold;
}

.active-acc, .accordion:hover {
    background-color: var(--White);
    color: var(--mcb);
    font-size: 26px;
}

.accordion:after {
    content: '\002B';
    color: var(--Black);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-acc:after {
    content: "\2212";
    color: var(--mcb);
}

.panel {
    padding: 0 18px;
    background-color: var(--EBFGrey);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    width: 91%;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
}

.panel p {
    color: var(--White);
    text-shadow: 2px 2px 2px var(--bl);
}

.believe {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    display: block;
    text-align: center;
    /* background-color: var(--NewGWBlue); */
    /*background: linear-gradient(-45deg, var(--NewGWYellow),var(--NewGWBlue)); */
    color: var(--MeteorJSPurple);
    text-shadow: 1px 1px var(--Black);
   /* border-radius: 36%; */
   /* padding: 4px;*/
   /* background-color: var(--SilverChalice); */
  /*  font-variant: small-caps; */
}

.believe h1 {
    color: var(--White);
    text-shadow: 2px 2px 2px var(--bl);
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .believe {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 769px) {
    .believe {
        font-size: 26px;
    }
}

.container-o {
    position: relative;
    text-align: center;
    color: rgb(0,0,0);
}

.top-o {
    position: absolute;
    top:8px;
}

.imgs-o {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.35;
}

/*.imgs-o:hover {
    opacity: 1;
}
*/
.centered-o {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bl-o {
    border: 2px solid var(--mcb);
}

.h-fl {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 20px;
    z-index: 6;
    padding: 3px 3px 3px 3px;
}

.cad-underline {
    border: 2px solid rgb(255,255,255);
}

/*Responsive About content */
@media screen and (min-device-width: 300px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 14px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (min-device-width: 350px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 15px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (min-device-width: 600px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 16px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (min-device-width: 650px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 17px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About content */
@media screen and (min-device-width: 900px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 18px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (min-device-width: 950px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 19px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (min-device-width: 1000px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 20px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (min-device-width: 1050px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 21px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About content */
@media screen and (min-device-width: 1100px) {
    .bt-o {
        color: rgb(255,255,255);
        font-size: 22px;
        padding: 2px 2px 2px 2px;
    }
}



/*Responsive About Header */
@media screen and (min-device-width: 1px) {
    @media screen and (max-width: 350px) {
        .bth-o {
            color: rgb(255,255,255);
            font-size: 17px;
            padding: 2px 2px 2px 2px;
        } 
    }
}

/*Responsive About Header */
@media screen and (min-device-width: 350px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 19px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About Header */
@media screen and (min-device-width: 600px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 21px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (min-device-width: 650px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 23px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (min-device-width: 900px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 24px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (min-device-width: 950px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 25px;
        padding: 2px 2px 2px 2px;
    }
}

/*Responsive About Header */
@media screen and (min-device-width: 1000px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 26px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About Header */
@media screen and (min-device-width: 1050px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 27px;
        padding: 2px 2px 2px 2px;
    } 
}

/*Responsive About Header */
@media screen and (min-device-width: 1100px) {
    .bth-o {
        color: rgb(255,255,255);
        font-size: 28px;
        padding: 2px 2px 2px 2px;
    }
}

.wc {
    color: var(--White);
}

.ts-mc {
    /* text-shadow: 1.25px 1.25px var(--mcb); */
    text-shadow: 1.25px 1.25px var(--bl);
}

@media screen and (min-width: 1000px) {
    .logo-display {
        border-radius: 7px;
        height: auto;
        float: left;
        width: 25%;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: var(--White);
      }
    
      .logo-display-img {
        border-radius: 7px;
        height: auto;
        float: left;
        width: 34%;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: var(--White);
      }
    
      .logo-display-img:hover {
          width: 36%;
          transition: all .25s;
      }
    }

    
@media screen and (min-width: 1px) {
    @media screen and (max-width: 600px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 40%;
            float: none;
            border-radius: 3px;
            position: relative;
    }

    .logo-display-img {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        text-align: center;
        display: inline-block;
        width: 46%;
        float: none;
        border-radius: 3px;
        position: relative;
    }

    .logo-display-img:hover {
        width: 49%;
        transition: all .25s;
    }
  }
}


@media screen and (min-width: 600px) {
    @media screen and (max-width: 700px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 35%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 44%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img:hover {
            width: 46%;
            transition: all .25s;
        }
    }

    
}

@media screen and (min-width: 700px) {
    @media screen and (max-width: 800px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 33%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 40%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img:hover {
            width: 43%;
            transition: all .25s;
        }
    }
}

@media screen and (min-width: 800px) {
    @media screen and (max-width: 1000px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 29%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 37%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img:hover {
            width: 39%;
            transition: all .25s;
        }
    }
}

/* Fixed Navbar Items*/

.fixed-navbar-items {
    float: left;
    text-align: center;
    color: var(--White);
    padding: 10px 22px;
    text-decoration: none;
    font-size: 20px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    vertical-align: bottom;
    font-weight: bold;
   /* font-family: 'Antonio'; */
}

.fixed-navbar-items:hover {
    background-color: none;
    color: var(--EBFGreen);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--EBFGreen) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .25s;
   /* font-size: 25px;*/
}

.fixed-navbar-icon {
    display: none;
}


@media screen and (max-width: 1100px) {
    .fixed-navbar-icon {
       display: block;
       float: right;
       position: absolute;
       right: 0;
       top: 0;
       margin-top: 0;
       text-align: center;
       color: var(--White);
       padding: 10px 12px;
       text-decoration: none;
       font-size: 17px;
       background-size: 0% 100%;
       box-shadow: var(--bsb);
       /* border: 2px solid var(--White);
       border-radius: 15px;*/
    }

    .fixed-navbar-icon:hover {
    background-color: none;
    color: var(--EBFGreen);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--EBFGreen) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    transition: all .25s;
    /*border: 2px solid var(--NewKRYellow);
    border-radius: 15px;*/
    }

    .fixed-navbar-items {
        display: none;
    }
}

.gmi {
    text-align: left;
    color: white;
    left: 0;
    margin-left: 0;
    font-size: 25px;
    border-radius: 5px;
    /*padding: 5px 10px;*/
}

/* Open/Close menu settings */

/* Slide menu settings */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 12;
    background-color: var(--mcb);
    overflow-y: hidden;
    margin-top: 5px;
    transition: 0.25s;
    left: 0;
    right: 0;
    top: 30px;
}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.overlay a {
    padding: 8px;
    text-align: center;
    color: var(--White);
    /*padding: 10px 12px;*/
    text-decoration: none;
    font-size: 16x;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    display: block;
    font-weight: bold;
}

.overlay a:hover {
    background-color: none;
    color: var(--EBFGreen);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--EBFGreen) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .25s;
}

#myNav {
    height: 0%;
}

#myNav.open {
    height: 100%;
}

@media screen and (min-width: 400px) {
    .overlay {
        margin-top: 7px;
    }
}

@media screen and (min-width: 430px) {
    .overlay {
        margin-top: 8px;
    }
}

@media screen and (min-width: 460px) {
    .overlay {
        margin-top: 9px;
    }
}

@media screen and (min-width: 490px) {
    .overlay {
        margin-top: 10px;
    }
}

@media screen and (min-width: 500px) {
    .overlay {
        margin-top: 11px;
    }
}

@media screen and (min-width: 1100px) {
    .overlay {
        display: none;
    }
}

/* Classes Menu Settings */
.overlay-cm {
    height:100%;
    width: 0;
    position: fixed;
    z-index: 21;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-cm-content {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.overlay-cm a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-cm a:hover, .overlay-cm a:focus {
    color: #f1f1f1;
}

.overlay-cm .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay-cm a {
        font-size: 20px;
    }
    .overlay-cm .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.csp {
    cursor: pointer;
}


/* For desktop, tablets, and anything bigger than 768px */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-31 {
    width: 26%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;

}

.col-81 {
    width: 70%;
}

.col-9 {
    width: 75%;

}

.col-10 {
    width: 83.33%;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For, (hopefully, all), mobile phones */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        max-width: 100%;
    }
}


  /* Centered Text for Images */
  .container-img {
    position: relative;
    text-align: center;
    font-size: 60px;
    color: var(--White);
    text-shadow: var(--Black) 2px 2px 2px;
  }

  .container-img a {
      text-decoration: none;
      font-size: 60px;
      color: var(--White);
      text-shadow: var(--Black) 2px 2px 2px;
  }

  @media screen and (min-width: 1px) {
      @media screen and (max-width: 768px) {
          .container-img img {
              width: 88%;
          }
      }
  }

  @media screen and (min-width: 769px) {
      .container-img img {
          width: 73%;
      }
  }

  .display {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    height: auto;
   /* border-radius: 6px; */
}

.box-shadow-img{
    max-width: 1080px;
}

.brandy-img {
    height: auto;
    float: left;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 600px) {
        .brandy-img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 600px) {
    @media screen and (max-width: 800px) {
        .brandy-img {
            width: 44.5%;
        }
    }
}

@media screen and (min-width: 800px) {
    @media screen and (max-width: 1000px) {
        .brandy-img {
            width: 34.5%;
        }
    }
}

@media screen and (min-width: 1000px) {
    @media screen and (max-width: 1200px) {
        .brandy-img {
            width: 30%;
        }
    }
}

@media screen and (min-width: 1200px) {
    @media screen and (max-width: 1400px) {
        .brandy-img {
            width: 24%;
        }
    }
}

@media screen and (min-width: 1400px) {
    @media screen and (max-width: 1600px) {
        .brandy-img {
            width: 20.5%;
        }
    }
}

@media screen and (min-width: 1600px) {
    .brandy-img {
        width: 25%;
    }
}

.blissful-glow-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  /*  background: linear-gradient(var(--blissfulGlowgrey),var(--blissfulGlowTeal),var(--blissfulGlowMaroon),var(--blissfulGlowPink)); */
    display: block;
}

.gradient-container {
    background: linear-gradient(var(--White),var(--blissfulGlowMaroon),var(--blissfulGlowGrey));
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    /*z-index: 1;*/
    padding: 4px;
}

.blissful-glow-container p {
    overflow-y: auto;
    color: var(--bl);
    text-align: center;
    /*text-shadow: 2px 2px 2px var(--bsb);*/
}

.blissful-glow-container a {
    text-decoration: none;
    color: var(--White);
    text-shadow: 1px 2px 2px var(--bsb);
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--mcb);
    border-radius: 8px;
    font-weight: bold;
    padding: 9px;
    font-variant: small-caps;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .extra-spacing {
            display: block;
        }

        /*
        .bottom-navbar-items-fb-p {
            width: 100%;
        }
        */
    }    
}

@media screen and (min-width: 768px) {
    .extra-spacing {
        display: none;
    }

    /*
    .bottom-navbar-items-fb-p {
        width: 20%;
    }
    */
}

.blissful-glow-container a:hover {
    font-size: 18px;
    transition: 0.25s ease-out;
    color: var(--studioYellow);
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 1100px) {
        .blissful-glow-container a {
            width: 61%;
            display: block;
        }

        
    }
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 800px) {
        .blissful-glow-container p {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 800px) {
    @media screen and (max-width: 1100px) {
        .blissful-glow-container p {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 1100px) {
    .blissful-glow-container a {
        width: 16%;
        display: inline-block;
    }

    .blissful-glow-container p {
        font-size: 30px;
    }

}

.r1 {
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 5px;
    height: auto;
    display: block;
}

.cr {
    color: var(--bl);
    text-align: center;
    font-size: 18px;
}

.cr-t {
    color: rgb(255,255,255);
    text-align: center;
    font-size: 25px;
}

.cr-t2 {
    color: rgb(255,255,255);
    text-align: left;
    font-size: 22px;
    text-decoration: none;
}

.ts-mbl {
    text-shadow: 1.25px 1.25px var(--bl);
}


/* New page layout settings */

.page-display-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.page-display-img-text {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.page-display-img-text-2 {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
   /* position: relative; */
}

.page-display-img-text-2A {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
   /* position: relative; */
}

.page-display-img-text-2B {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
   /* position: relative; */
}

.page-display-img-text-2C {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
   /* position: relative; */
}

.page-display-img-text-2D {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
   /* position: relative; */
}

.page-display-img-text-2E {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
   /* position: relative; */
}

.page-display-img-text-h {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    font-weight: bold;
}

.page-display-img-text-p {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.page-display-bb-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    position: relative;
}

.page-display-img-text-bb {
    display: inline-block;
    margin: 18 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.page-display-img-text-c {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    font-size: 20px;
}

.page-display-img-text-bb2 {
    display: inline-block;
    margin: 18 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.page-display-vid-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.page-display-vid-container-2, .page-display-vid-container-3 {
    display: block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

/* Vertical Phone Settings */
@media screen and (min-width: 1px) {
    @media screen and (max-width: 500px) {
        @media screen and (min-height: 1px) {
            @media screen and (max-height: 850px) {
                .page-display-vid-container {
                    width: 100%;
                }

                .page-display-img-text-bb {
                    font-size: 29px;
                    margin-bottom: 50px;
                }

                .page-display-img-text-bb2 {
                    font-size: 29px;
                    margin-bottom: 15px;
                }

                .page-display-img-text-2A {
                    display: none;
                }

                .page-display-img-text-2B {
                    display: none;
                }

                .page-display-img-text-2C {
                    display: none;
                }

                .page-display-img-text-2D {
                    display: none;
                }

                .page-display-img-text-2E {
                    display: none;
                }
            }
        }
    }
}

/* Horizontal Phone Settings */
@media screen and (min-width: 1px) {
    @media screen and (max-width: 850px) {
        @media screen and (min-height: 1px) {
            @media screen and (max-height: 450px) {
                .page-display-vid-container {
                    width: 21%;
                }

                .page-display-vid-container-2 {
                    width: 38%;
                }

                .page-display-vid-container-3 {
                    width: 24%;
                }

                .page-display-img-text-bb {
                    font-size: 32px;
                    margin-bottom: 50px;
                 /*   position: relative;
                    top: 25%;
                    left: 50%;
                    transform: translate(-50%, -50%); */
                }

                .page-display-img-text-2 {
                  /*  position: relative;*/
                    margin-bottom: 15px;
                   /* bottom: 15%;*/
                 /*   left: 15%;
                    transform: translate(-50%, -50%); */
                }

                .page-display-img-text-2A {
                    display: none;
                }

                .page-display-img-text-2B {
                    display: none;
                }

                .page-display-img-text-2C {
                    display: none;
                }

                .page-display-img-text-2D {
                    display: none;
                }

                .page-display-img-text-2E {
                    display: none;
                }

                .page-display-img-text-bb2 {
                    font-size: 32px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

/* iPad/Tablet Settings */
@media screen and (min-width: 650px) {
    @media screen and (max-width: 1200px) {
        @media screen and (min-height: 600px) {
            @media screen and (max-height: 1200px) {
                .page-display-vid-container {
                    width: 37%;
                }

                .page-display-vid-container-2 {
                    width: 48%;
                }

                .page-display-vid-container-3 {
                    width: 36%;
                }

                .page-display-img-text-bb {
                    font-size: 31px;
                    margin-bottom: 55px;
                 /*   position: relative;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -60%); */
                }

                .page-display-img-text-2 {
                  /*  position: relative; */
                    margin-bottom: 25px;
                   /* bottom: 25%; */
                   /* left: 50%; 
                    transform: translate(-50%, -50%);*/
                }

                .page-display-img-text-bb2 {
                    font-size: 34px;
                    margin-bottom: 25px;
                }



                
            }
        }
    }
}

/* Computer Settings */
@media screen and (min-width: 1200px) {
    .page-display-vid-container {
        width: 25%;
    }

    .page-display-vid-container-2 {
        width: 31%;
    }

    .page-display-vid-container-3 {
        width: 22%;
    }

    .page-display-img-text-bb {
        font-size: 37px;
        margin-bottom: 50px;
       /* position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -95%); */
    }

    .page-display-img-text-2 {
       /* position: relative; */
        margin-bottom: 15px;
       /* bottom: 15%; */
       /* left: 21%;
        transform: translate(-50%, -50%); */
    }

    .page-display-img-text-bb2 {
        font-size: 37px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .extra-spacing {
            display: block;
        }

        .page-display-img-text {
            font-size: 26px;
        }

        .page-display-img-text-h {
            font-size: 38px;
        }

    }
}



@media screen and (min-width: 768px) {
    .extra-spacing {
        display: none;
    }

    .page-display-img-text {
        font-size: 28px;
    }

    .page-display-img-text-h {
        font-size: 42px;
    }

}

.bb-logo {
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    display: inline-block;
}

/*Tik Tok Video Settings*/
.tik-tok-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.tik-tok-video {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 600px) {
        .tik-tok-video {
            width: 50.5%;
        }

        .page-display-img-text-p {
            font-size: 22px;
        }
    }
}

@media screen and (min-width: 600px) {
    @media screen and (max-width: 800px) {
        .tik-tok-video {
            width: 37.5%;
        }

        .page-display-img-text-p {
            font-size: 23px;
        }
    }
}

@media screen and (min-width: 800px) {
    @media screen and (max-width: 1000px) {
        .tik-tok-video {
            width: 25.5%;
        }

        .page-display-img-text-p {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 1000px) {
    @media screen and (max-width: 1200px) {
        .tik-tok-video {
            width: 24%;
        }

        .page-display-img-text-p {
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 1200px) {
    @media screen and (max-width: 1400px) {
        .tik-tok-video {
            width: 20%;
        }

        .page-display-img-text-p {
            font-size: 26px;
        }
    }
}

@media screen and (min-width: 1400px) {
    @media screen and (max-width: 1600px) {
        .tik-tok-video {
            width: 18.5%;
        }

        .page-display-img-text-p {
            font-size: 27px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .tik-tok-video {
        width: 22.5%;
    }

    .page-display-img-text-p {
        font-size: 28px;
    }
}