:root {
    --mcb: #234a95;
    --bl: rgb(0,0,0);
    --mainGrey: #989898;
    --studioYellow: #f5da35;
    --bsb: rgba(0, 0, 0, 0.397);
    --White:rgb(255,255,255);
}

/* Make scroll behavior smooth */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


/* Fixed Menu Settings */
.navbar {
    overflow: hidden;
    /*background-color: var(--NewGWBlue);*/
    background-color: var(--mcb);
    position: fixed;
    top: 0;
    left: 0;
    width: 99.9%;
    max-width: 99.9%;
    z-index: 3;
    text-align: center;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 700px) {
        @media screen and (min-height: 1px) {
            @media screen and (max-height: 400px) {
                .navbar {
                    max-height: 17.5%;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    @media screen and (max-width: 1000px) {
        @media screen and (min-height: 400px) {
            @media screen and (max-height: 1000px) {
                .navbar {
                    max-height: 15.5%;
                }
            }
        }
    }
}

/* Logo display settings */
@media screen and (min-width: 1000px) {
    .logo-display {
        border-radius: 7px;
        height: auto;
        float: left;
        width: 22%;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: var(--White);
      }
    
      .logo-display-img {
        border-radius: 7px;
        height: auto;
        float: left;
        width: 25%;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: var(--White);
      }
    
      .logo-display-img:hover {
          width: 27%;
          transition: all .25s;
      }
    }

    
@media screen and (min-width: 1px) {
    @media screen and (max-width: 600px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 35%;
            float: none;
            border-radius: 3px;
            position: relative;
    }

    .logo-display-img {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        text-align: center;
        display: inline-block;
        width: 38%;
        float: none;
        border-radius: 3px;
        position: relative;
    }

    .logo-display-img:hover {
        width: 41%;
        transition: all .25s;
    }
  }
}


@media screen and (min-width: 600px) {
    @media screen and (max-width: 700px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 32%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 37%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img:hover {
            width: 39%;
            transition: all .25s;
        }
    }

    
}

@media screen and (min-width: 700px) {
    @media screen and (max-width: 800px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 30%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 33%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img:hover {
            width: 35%;
            transition: all .25s;
        }
    }
}

@media screen and (min-width: 800px) {
    @media screen and (max-width: 1000px) {
        .logo-display {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 26%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            width: 29%;
            float: none;
            border-radius: 3px;
            position: relative;
        }

        .logo-display-img:hover {
            width: 31%;
            transition: all .25s;
        }
    }
}

/* Fixed Navbar Items*/

.fixed-navbar-items {
    float: left;
    text-align: center;
    color: var(--White);
    padding: 15px 33px;
    text-decoration: none;
    font-size: 17px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    vertical-align: bottom;
    font-weight: bold;
   /* font-family: 'Antonio'; */
}

.fixed-navbar-items:hover {
    background-color: none;
    color: var(--studioYellow);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--studioYellow) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .25s;
   /* font-size: 25px;*/
}

.fixed-navbar-icon {
    display: none;
}


@media screen and (max-width: 1000px) {
    .fixed-navbar-icon {
       display: block;
       float: right;
       position: absolute;
       right: 0;
       top: 0;
       margin-top: 0;
       text-align: center;
       color: var(--White);
       padding: 10px 12px;
       text-decoration: none;
       font-size: 17px;
       background-size: 0% 100%;
       box-shadow: var(--bsb);
       /* border: 2px solid var(--White);
       border-radius: 15px;*/
    }

    .fixed-navbar-icon:hover {
    background-color: none;
    color: var(--studioYellow);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--studioYellow) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    transition: all .25s;
    /*border: 2px solid var(--NewKRYellow);
    border-radius: 15px;*/
    }

    .fixed-navbar-items {
        display: none;
    }
}

/* Open/Close menu settings */

/* Slide menu settings */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--mcb);
    overflow-y: hidden;
    margin-top: 5px;
    transition: 0.25s;
    left: 0;
    right: 0;
    top: 45px;
}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.overlay a {
    padding: 8px;
    text-align: center;
    color: var(--White);
    padding: 13px 15px;
    text-decoration: none;
    font-size: 17x;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    display: block;
    font-weight: bold;
}

.overlay a:hover {
    background-color: none;
    color: var(--studioYellow);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--studioYellow) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .25s;
}

#myNav {
    height: 0%;
}

#myNav.open {
    height: 100%;
}

@media screen and (min-width: 400px) {
    .overlay {
        margin-top: 7px;
    }
}

@media screen and (min-width: 430px) {
    .overlay {
        margin-top: 8px;
    }
}

@media screen and (min-width: 460px) {
    .overlay {
        margin-top: 9px;
    }
}

@media screen and (min-width: 490px) {
    .overlay {
        margin-top: 10px;
    }
}

@media screen and (min-width: 500px) {
    .overlay {
        margin-top: 11px;
    }
}

@media screen and (min-width: 1000px) {
    .overlay {
        display: none;
    }
}